<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bska.Client.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bska.Client.Common.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>45000</value>
            </setting>
            <setting name="WCFServiceUrl" serializeAs="String">
                <value>https://localhost:44311/WCFService</value>
            </setting>
            <setting name="ReportServerUrl" serializeAs="String">
                <value>http://DC01/ReportServer</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>https://localhost:44375/</value>
            </setting>
            <setting name="APIServiceURL" serializeAs="String">
                <value>https://localhost:44375/api/</value>
            </setting>
            <setting name="SSRSUsername" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="SSRSPassword" serializeAs="String">
                <value>1221056@Am</value>
            </setting>
            <setting name="SSRSDomainName" serializeAs="String">
                <value>AminITPro</value>
            </setting>
            <setting name="NETTypeIsDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCFNetTcpServiceUrl" serializeAs="String">
                <value>net.tcp://aminpc.localhost:62092/WCFService</value>
            </setting>
            <setting name="providerName" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="metaData" serializeAs="String">
                <value>res://*/Model.EFShardModel.csdl|res://*/Model.EFShardModel.ssdl|res://*/Model.EFShardModel.msl</value>
            </setting>
            <setting name="dataSource" serializeAs="String">
                <value>DESKTOP-L4SPE0L</value>
            </setting>
            <setting name="initialCatalog" serializeAs="String">
                <value>Bska.Client</value>
            </setting>
            <setting name="security" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>EAAAAFR85a1TAcE+C8fOcFSFH3MQ8OVBYu9fFdq95xcHQrpc</value>
            </setting>
            <setting name="timeOut" serializeAs="String">
                <value>20</value>
            </setting>
        </Bska.Client.Common.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
